 #header {
  text-align: center;
  color: darkblue
}
#thor {
  display: none;
  color: darkred;
}
#cap {
  display: none;
  color: darkblue;
}
#hulk {
  display: none;
  color: darkgreen
}
.warning {
  display: none;
}
.warning2 {
  display: none;
  color: red;
}
.warning1 {
  display: none;
  color: green
}